@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

.SecretPhrasePage {
    background-color: #250333;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.SecretPhrasePage_form {
    background-color: #250333;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.SecretPhrasePage_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8% 5% 5% 8%;
}

.Title {
    width: 333px;
    height: 34px;
    left: 84px;
    top: 105px;
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0 10%;
}

.kanalabs_logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 0 0 5%;
}

.Description1 {
    width: 310px;
    height: 72px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #DADCE3;
    padding: 4% 5% 2% 9%;
}

.Description2 {
    width: 310px;
    height: 48px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 2% 5% 5% 9%;
}

progress[value],
.Progress_SecretPhrasePage {
    border: none;
    width: 99.4% !important;
    height: 6px;
    margin: 0 0 0 0.2%;
}

progress,
.Progress_SecretPhrasePage {
    position: relative;
}

progress::before,
progress::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

progress::before {
    width: 100%;
    background: white;
}

.Progress_SecretPhrasePage {
    background: #00FFFF;
    width:400px ;
}

.secretphrase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 120px;
    background: #FFFFFF;
    border-radius: 13px;
    padding: 5%;
    margin: 3% 10% 0 10%;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
}

.secretphrase_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.secret_text {
    background: #250333;
    opacity: 0.5;
    border-radius: 0px 13px;
    width: 30px;
    height: 25px;
    outline: none;
    color: white !important;
    border: none;
    margin: 1%;
    padding: 0 5%;
}


.copy_to_clipboard {
    width: 280px;
    display: flex;
    flex-direction: row;
    padding: 2.5% 5% 5% 10%;
    cursor: pointer;
}

.clipboard_stmt {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0 0 0 5%;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.checkbox {
    width: 280px;
    display: flex;
    flex-direction: row;
    padding: 5% 5% 4% 10%;
    cursor: pointer;
}

.checkbox_box {
    outline: none;
    width: 20px;
    height: 20px;
    border: 1px solid #00F9A9;
    accent-color: #00F9A9;
    border-radius: 3px;
    margin: 0 3% 0 0;
    cursor: pointer;
}

.checkbox_label {
    cursor: pointer;
    height: 24px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
}

.Continue_SecretPhrasePage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    background: linear-gradient(180deg, #00F9A9 0%, #00FFFF 97.92%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 26px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #250333;
    cursor: pointer;
    border-color: transparent;
    margin: 28% 8% 1% 10%;
    text-decoration: none;
}

.Continue_SecretPhrasePage:hover {
    background: linear-gradient(180deg, #00FFFF 0%, #00F9A9 97.92%);
}