@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Ovo&display=swap");

.PasswordPage {
    background-color: #250333;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.PasswordPage_form {
    background-color: #250333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    padding: 0 10%;
}

.PasswordPage_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8% 5% 5% 8%;
}

.PasswordPageTitle {
    width: 333px;
    height: 34px;
    left: 84px;
    top: 105px;
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0 10%;
}

.kanalabs_logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 0 0 5%;
}

progress[value],
.Progress_PasswordPage {
    border: none;
    width: 99.4% !important;
    height: 4px;
    margin: 0 0 0 0.2%;
}

progress,
.Progress_PasswordPage {
    position: relative;
}

progress::before,
progress::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

progress::before {
    width: 100%;
    background: white;
}

.Progress_PasswordPage {
    background: #00FFFF;
    width: 400px;
}

.err1 {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: red;
}
.err2{
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: white;
}
.Password {
    width: 310px;
    height: 72px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #DADCE3;
    padding: 4% 5% 0 9%;
}

.checkbox_password {
    width: 280px;
    display: flex;
    flex-direction: row;
    margin-top: 23%;
    cursor: pointer;
}

.checkbox_box_password {
    outline: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin: 0 3% 0 0;
    cursor: pointer;
    border: 1px solid #00F9A9;
    accent-color: #00F9A9;
}

.checkbox_label {
    cursor: pointer;
    height: 24px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
}

.checkbox_links {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00FFFF;
    text-decoration: underline;
}

.Continue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, #00F9A9 0%, #00FFFF 97.92%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 26px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #250333;
    cursor: pointer;
    margin-top: 1%;
    border-color: transparent;
    text-decoration: none;
}

.Continue:hover {
    background: linear-gradient(180deg, #00FFFF 0%, #00F9A9 97.92%);
}


.password_label {
    width: 310px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0 0 2% 0;
}


.password_input {
    box-sizing: border-box;
    width: 315px;
    height: 56px;
    background: #351641;
    border: 1px solid #DADCE3;
    border-radius: 13px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #DADCE3;
    margin: 0 0 2% 0;
    padding: 0 0 0 4%;
    outline: none;
}

.strength_meter {
    width: 70%;
    padding: 5px;
}



.MuiInputBase-root {
    color: rgb(255, 255, 255) !important;
    font-family: 'DM Sans' !important;
    font-style: normal !important;
    font-weight: 400;
}

.MuiInput-underline:before {
    transition: none;
    border-bottom: 1px solid transparent !important;
    border: none !important;
    outline: none !important;
    pointer-events: none;
}

.MuiInput-underline:after {
    transition: none;
    border-bottom: 1px solid transparent !important;
    pointer-events: none !important;
    outline: none !important;
}

.MuiIconButton-root {
    color: white !important;
}


.password_row{
    display: flex;
    flex-direction: row;
}
.fa-eye{
    margin-left: -68px;
    padding-top: 5%;
    cursor: pointer;
    font-size: 24px;
}

.fa-eye-slash{
    margin-left: -68px;
    padding-top: 5%;
    cursor: pointer;
    font-size: 24px;
}
